  .titulo {
    margin-left: 38%;
    margin-top: 15px;
    font-size: 30px;
  }

  .filtro {
    margin-top: 20px;
    margin-left: 30%;
  }

  .mat-form {
    margin-left: 50px;
    font-size: 14px;
    width: 50%;
  }
  
  td, th {
    width: 100px;
  }
  