  .titulo {
    margin-left: 25%;
    margin-top: 15px;
    font-size: 30px;
  }

  .filtro {
    margin-top: 20px;
    margin-left: 20%;
  }

  .mat-form {
    margin-left: 20%;
    font-size: 14px;
    width: 50%;
  }
  
  td, th {
    width: 100px;
  }
  